body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  width: 25%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.content-area-wrapper {
  margin-left: 25%;
  height: 100vh;
  position: relative;
}

.content-area {
  height: 100%;
  overflow-y: scroll;
  padding: 1.5rem;
}

.floating-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  /* z-index: 1000; */
}

.bg-teal {
  background-color: #228A84;
  color: white;
}

.beige {
  background-color: beige;
}

.tan {
  background-color: #CFBBA4;
  color: #228A84;
}

.teal {
  background-color: #228A84;
  color: white;
}

.teal:hover {
  background-color: white;
  color: #228A84;
  border: 1px solid #228A84;

}

.teal-outlined {
  background-color: white;
  color: #228A84;
  border: 1px solid #228A84;
}

.teal-outlined:hover {
  background-color: #228A84;
  color: white;
}